<br><br><br>


<h1>Thank you! Your message has been sent to from your <%= current_user.email %> email account. Future correspondence can be made directly through your own email. </h1>

<%= link_to "Back to Requests", requests_path %>
