<h1 class="new_request">New Request </h1>


<%if user_signed_in?%>
	<%= render "form", class: "new_request" %>
<% else %>
	<%= render "form_anon", class: "new_request" %>
<% end %>


<%= link_to "Back", requests_path %>