<html>

<h2> About Insight Health South Africa </h2>  
  <body>
    <p>We believe increased visibility can improve health.</p> 
	<p>Often, there are excess resources within reach of those who need them most.  Our goal is to show where there are unmet healthcare needs so that those needs can be fulfilled.</p>
    <p>Insight Health was born out of the iXperience Summer Tech Academy.  We were founded on the belief that we can use technology to solve real-world problems.</p> 

  
  </body>

<footer>
</footer>

</html>