<html>

<h2> Contact Information </h2>
  
  <body>
    <p>Drop us a line, anytime! </p> 
    <a href="mailto:insighthealthza@gmail.com">insighthealthza@gmail.com</a>

  </body>

<footer>
</footer>

</html>