<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type = "text/css" href="home.css.scss">
  <script type="text/javascripts" src="/assets/application.js"></script>
 <script type="text/javascripts" src="/carousel.js"></script>


	<title>Insight</title>
</head>
<header>
</header>
<body>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
       <!-- Carousel  -->
      <div class="carousel-inner">
        <div class="item active" id="stethoscope">
          <img src="/assets/stethoscope3.jpg", alt="First Slide"> 
           <div class="container"> 
            <div class="carousel-caption">
              <p><strong>Insight</strong> provides an enhanced health provider understanding of community needs by mapping currently existing services within the Western Cape.</p>

            </br></br>
            </br></br>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Health Provider Sign In</a></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Make a Request</a></p>

              <p><a class="btn btn-lg btn-primary" href= "/users/sign_in" role="button">Health Provider Sign In</a></p>

            </div> 
          </div>
        </div>

        <div class="item" id="pharmacist">
          <img src="/assets/pharmacist.jpg" alt="Third slide">
             <div class="container">
            </div>
          </div>

        <div class="item" id="need">
          <img src="/assets/need2.jpg" alt="Fourth slide">
             <div class="container"> 
            </div> 
        </div>
    </div>

      <!-- Controls -->
      <div id="carousel-controls">
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
    </div> 
  </div>
  		 

</body>
<footer>
</footer>
</html>