<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Insight</title>
	,
</head>
<header>
</header>
<body>
	<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item-active">
    <img src="/assets/stethoscope.jpg", alt="Stethoscope">
    <div class="carousel-caption">
    <p>Insight provides an enhanced health provider understanding of community needs by mapping currently existing services within the Western Cape.</p>
      </div>
      </div>

      <div class="item">
       <img src= "/assets/coordination.jpg" alt="Coordination">
      </div> 

       <!-- <div class="need">
      </div> -->

  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a  class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
</div>

</body>
<footer>
</footer>
</html>