/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 

 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
}

/*div {
	display: block;
}*/

.requests_table_row:hover {
	background-color: beige;
	cursor: hand;
}

/*Blue Border at the Top*/

.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8%;
	background-color: #FFF;
	border-bottom-style: solid;
	border-bottom-color: #D3D3D3;
	border-bottom-width: 4px;
	z-index: 1;
}

/*Navigation*/

.navigation {
	float: right;
	position: fixed;
	z-index: 1;
	margin-left: 60vw
}

.navigation li {
	float: right;
	list-style: none;
	display: inline-block;
}

.navigation ul a {
	text-decoration: none;
	color: rgb(19, 58, 85);
	padding: 30px, 50px;
	font-family:'', sans-serif;
	font-size: 15px;
	padding-right: 30px;

}

nav a:hover {
	background-color: #205B75;
	border-width: 10px;
	padding: 30px, 20px;
}

/*Logo Color*/

.logo{
	margin-left: 40px;
	margin-top: 5px;
	padding: 10px, 30px;
	position: fixed;
}


/*Carousel*/

#myCarousel {
	position: relative;
	top: 15px;
	bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
    height: 70%;
    /*z-index: -1;*/
}


.carousel-caption {
	font-size: 20px;
	color: #fff;
	bottom: 40px;
	/*z-index: 1;*/
}

#stethoscope {
	img {
	width: 100%;
	height: 100%;
	top: 15px;
	right: 0px;
	bottom: 0px;
	/*position: relative;*/
	}
}


#pharmacist {
	img {
	right: 0px;
	bottom: 0px;
	top: 15px;
	position: fixed;
	}
}

#need {
   img {
   	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	top: 15px;
	position: fixed;
}

.logo_img{
	max-width: 120px;
	max-height: 240px;
}