/*Carousel*/

#myCarousel {
	position:fixed;
	width: 100%;
    height: 70%;
}

#carousel-controls {
	position: fixed;
	top: 15px;
	width: 100%;
	height: 100%;
}

.container{
	position: relative;
	margin-top: 30vh;
}

#carousel-caption {
	background-color: rgba(255,255,255,0.4);
	font-size: 20px;
	text-align: center;
	font-style: "sans-serif";
	color: #FFF;
	padding: 5%;
	z-index: 2;
	max-width: 95vw;
	margin-left: 30px;
	margin-right: 30px;
}

.sign_in_button{
	max-width: 30vw;
	z-index: 2;
	font-style: "sans";
	display: inline-block;
	float: right;

	div {
	/*display: block;*/
	padding: 5%;
	float: right;
}

}

#stethoscope {
	img {
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	position: relative;
	}
}


#pharmacist {
	img {
	right: 0px;
	bottom: 0px;
	top: 15px;
	position: fixed;
	}
}

#need {
   img {
   	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	top: 15px;
	position: fixed;
	}
}
