/*Carousel*/
html{
	font-family: 'Roboto', sans-serif;
}

#myCarousel {
	position:fixed;
	width: 100%;
    height: 70%;
}

#carousel-controls {
	position: fixed;
	top: 15px;
	width: 100%;
	height: 100%;
}

/*Sets the vertical position of the div containing the carousel-caption and buttons*/
.container{
	position: relative;
	margin-top: 25vh;
}

// Sets the Carousel caption
#carousel-caption {
	float: left;
	background-color: rgba(255,255,255,0.6);
	border-radius: 7px;
	font-size: 20px;
	text-align: center;
	font-style: "Roboto", sans-serif;
	color: rgb(21,57,82);
	margin: 5%;
	padding: 3%;
	max-width: 50vw;
	margin-right: 3%;
}

//Sets the buttons
#provider_sign_in{
	float: right;
	margin-top: 7%;
	margin-bottom: 2%;
	margin-right: 7%;
}

#make_request_btn{
	float: right;
	margin-right: 10%;
}

// .sign_in_button{
// 	max-width: 30vw;
// 	z-index: 2;
// 	font-style: "sans";
// 	display: inline-block;

// 	div {
	// display: block;
// 	padding: 5%;
// 	}

// }
.btn-primary { 
	background-color: rgb(21,57,82);
	border-color: rgb(21,57,82); 
	border-radius: 7px;
} 


#stethoscope {
	img {
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	position: relative;
	top: -10px;
	}
}


#pharmacist {
	img {
	right: 0px;
	bottom: 0px;
	top: 15px;
	position: fixed;
	}
}

#need {
   img {
   	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0px;
	position: fixed;
	}
}
