/*Carousel*/

#myCarousel {
	position: fixed;
	width: 100%;
    height: 70%;
}

#carousel-controls {
	position: fixed;
	top:15px;
	width: 100%;
	height: 100%;
}

.container {
	display: inline;
	position: fixed;
	margin-top: 30vh;
}

#carousel-caption{
	background-color: rgba(255,255,255,0.4);
	padding: 5%;
	max-width: 50vw;
	font-size: 20px;
	color: #fff;
	z-index: 2;
}

#sign_in_button{
	max-width: 20vw;
	float:right;
}
