// .notice{
// 	z-index: 3;
// 	padding-top: 10px;
// }

// .alert{
// 	z-index: 3;
// 	padding-top: 10px;
// }

// .title{
// 	padding: 0;
// 	margin-left: 5%;
// }

.forum_wrapper{
	margin-left: 5%;
	margin-right: 5%;
	border: solid;
	border-width: 10px;
	border-radius: 30px;
	border-color: rgb(21,57,82);
	padding: 2%;
}

// #table{
// }

// .requests_forum{
// 	margin-top: 500px;
// }