.new_needoptin{
	margin-top: 5%;
	color: rgb(24,66,97);
	h1{
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
	}
}

.new_needoptinform{
	margin-left: 5%;
}

.new_alert_form{
	margin-left:5%;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

.needoptin_links{
	margin-top:3%;
	margin-left: 5%;
}