<h1>Notifications for <%= @needoptin.user.username %></h1>
<p>
	Need type: <%= @needs_hash[@needoptin.need_id] %><br>

</p>

<%= link_to "Back", needoptins_path %>
<%= link_to "Your Account Profile", users_path %>